{{ define "main" }}

<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <h1>{{ .Title }}</h1>
        <div >
        <!-- <p>
          {{ .Params.description }}
        </p> -->
      </div>
        <p>
          <!-- {{ .Params.keyHighlights }} -->
          {{ .Content }}
          <br />
          <p >
            {{ .Params.description }}
          </p>
          <div style="text-align: left; margin: 2%;">
          <p style="display: inline-block; text-align: left; font-weight: 900; ">Key Highlights: </p> 
          <br/>
          <ul style="display: inline-block; text-align: left;">
            <div style="display: inline-block;">
            {{ range .Params.keyHighlights }}
            <li>
              {{ .highlight}}
            </li>
            {{ end }}
          </div>
          </div>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container" style="margin: auto;">
    <div class="row">
      {{ range sort (.Paginator 6).Pages.ByWeight }}
        <div class="col-lg-4 col-md-6">
          {{ if (eq .Params.live true) }}
          <article class="blog-post-item" style="position: relative;">
            <div style="background-color: red; color: white; width: max-content; border-radius: 5px; padding: 3px; position: absolute; top: -1.5%; right: -2.5%;">Live Now!</div>
            <div class="blog-post-thumb">
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.featureImage | absURL }}" alt="blog-thumb"
              /></a>
            </div>
            <div class="blog-post-content">
              <h2>
                <a href="{{ .Permalink }}"
                  >{{ .Params.titleToShow }}</a
                >
              </h2>
                <h6>
                  {{ .Params.by }}
                </h6>
                <p>
                  {{ .Params.designation }}
                </p>
                <h6>
                  {{ .Params.typeDate }}
                </h6>
                <h6 class="internship-cost">
                  {{ .Params.cost }}
                </h6>
              </div>
              <!-- <div>
                <p>
                  {{ .Description }}
                </p>
              </div> -->
              <!-- <div class="post-author">
                <div class="thumb">
                  <img src="{{ .Params.authorThumb | absURL }}" alt="author-thumb" />
                </div>
                <div class="meta">
                  <h3>{{ .Params.author }}</h3>
                  <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
                </div>
              </div> -->
            </div>
          </article>
          {{ else }}
          <article class="blog-post-item" style="position: relative;">
            <div style="background-color: grey; color: white; width: max-content; border-radius: 5px; padding: 3px; position: absolute; top: -1.5%; right: -2.5%;">Coming Soon!</div>
            <div class="blog-post-thumb">
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.featureImage | absURL }}" alt="blog-thumb"
              /></a>
            </div>
            <div class="blog-post-content">
              <h2>
                <a href="{{ .Permalink }}"
                  >{{ .Params.titleToShow }}</a
                >
              </h2>
                  <a href="#footer-subscribe-form" data-text="Notify Me!" class="btn btn-primary" style="font-size: small; padding: 9px 25px 9px 25px; margin-bottom: 25px;"><span>Notify Me!</span></a>
                <h6>
                  {{ .Params.typeDate }}
                </h6>
                <h6 class="internship-cost">
                  {{ .Params.cost }}
                </h6>
              </div>
              <!-- <div>
                <p>
                  {{ .Description }}
                </p>
              </div> -->
              <!-- <div class="post-author">
                <div class="thumb">
                  <img src="{{ .Params.authorThumb | absURL }}" alt="author-thumb" />
                </div>
                <div class="meta">
                  <h3>{{ .Params.author }}</h3>
                  <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
                </div>
              </div> -->
            </div>
          </article>
          {{ end }}
          {{ end }}
        </div>
      <div class="col-lg-12">
        <div class="blog-pagination">
          <nav>
            <!-- <ul class="pagination">
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  1
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <i class="ti-angle-right"></i>
                </a>
              </li>
            </ul> -->
            {{ template "_internal/pagination.html" . }}
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}