{{ with .Site.Data.homecareer }}
  {{ if .enable }}
    <section class="blog-post" id="programs">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="section-title">
              <h2 class="explore-career-heading">{{ .title }}
                <a href="/experienceship"><h6 class="explore-career-viewall">View All >></h6></a>
            </h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          {{ range first 3 $.Site.Pages }}
          <!-- <div class="col-lg-4 col-md-6">
            <article class="blog-post-item">
              <div class="blog-post-thumb">
                <a href="{{ .Permalink }}">
                  <img src="{{ .Params.featureImage }}" alt="post-thumb"
                /></a>
              </div>
              <div class="blog-post-content">
                <h2>
                  <a href="{{ .Permalink }}"
                    >{{ .Params.titleToShow }}</a
                  >
                </h2>
                <div class="post-author">
                  <div class="meta">
                    <p>{{ .Description }}</p>
                  </div>
                </div>
              </div>
            </article>
          </div> -->
        <div class="col-lg-4 col-md-6">
          {{ if (eq .Params.live true) }}
          <article class="blog-post-item" style="position: relative;">
            <div style="background-color: red; color: white; width: max-content; border-radius: 5px; padding: 3px; position: absolute; top: -1.5%; right: -2.5%;">Live Now!</div>
            <div class="blog-post-thumb">
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.featureImage | absURL }}" alt="blog-thumb"
              /></a>
            </div>
            <div class="blog-post-content">
              <h2>
                <a href="{{ .Permalink }}"
                  >{{ .Params.titleToShow }}</a
                >
              </h2>
              <h6 style="width: 90%; display: inline-block;">
                {{ .Params.by }}
              </h6>
              <a href="{{ .Params.social_li_profile }}" target="_blank" style="width: 5%; display: inline-block;"><i class="ti-linkedin"></i></a>
                <p>
                  {{ .Params.designation }}
                </p>
                <h6>
                  {{ .Params.typeDate }}
                </h6>
                <h6 class="internship-cost">
                  {{ .Params.cost }}
                </h6>
              </div>
              <!-- <div>
                <p>
                  {{ .Description }}
                </p>
              </div> -->
              <!-- <div class="post-author">
                <div class="thumb">
                  <img src="{{ .Params.authorThumb | absURL }}" alt="author-thumb" />
                </div>
                <div class="meta">
                  <h3>{{ .Params.author }}</h3>
                  <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
                </div>
              </div> -->
            </div>
          </article>
          {{ else }}
          <article class="blog-post-item" style="position: relative;">
            <div style="background-color: grey; color: white; width: max-content; border-radius: 5px; padding: 3px; position: absolute; top: -1.5%; right: -2.5%;">Coming Soon!</div>
            <div class="blog-post-thumb">
              <a>
                <img src="{{ .Params.featureImage | absURL }}" alt="blog-thumb"/>
              </a>
            </div>
            <div class="blog-post-content">
              <h2>
                <a>
                  {{ .Params.titleToShow }}
                  </a>
              </h2>
                  <!-- <a href="{{ .Permalink }}" data-text="Notify Me!" class="btn btn-primary" style="font-size: small; padding: 9px 25px 9px 25px; margin-bottom: 25px;"><span>Notify Me!</span></a> -->
                  <a href="/notifyme" data-text="Notify Me!" class="btn btn-primary" style="font-size: small; padding: 9px 25px 9px 25px; margin-bottom: 25px;"><span>Notify Me!</span></a>
                <h6>
                  {{ .Params.typeDate }}
                </h6>
                <h6 class="internship-cost">
                  {{ .Params.cost }}
                </h6>
              </div>
              <!-- <div>
                <p>
                  {{ .Description }}
                </p>
              </div> -->
              <!-- <div class="post-author">
                <div class="thumb">
                  <img src="{{ .Params.authorThumb | absURL }}" alt="author-thumb" />
                </div>
                <div class="meta">
                  <h3>{{ .Params.author }}</h3>
                  <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
                </div>
              </div> -->
            </div>
          </article>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}