{{ define "main" }}

<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1>{{ .Title }}</h1>
        <p>
          <!-- {{ .Params.description }} -->
          At Know Thy Choice, our vision is to empower every student to make an informed career decision. We believe in the right to be able to do the work one desires and the right to find one’s work desirable. We believe work to be a means of attaining one’s Eudaimonia and our goal is to help students find fulfilling careers.
          <br/>
          <br/>
          An average high school student in India is aware of only 7 career options, and we strive to change that. Our team comprising of alumni from top colleges of India and abroad have devised programs to provide students with hands-on experience of real careers. This helps students experience careers before embarking on the path. This way, students are able to evaluate their options and make well-informed decisions.
        </p>
      </div>
    </div>
  </div>
</section>

{{ with .Site.Data.about }}
  {{ if .enable }}
<section class="blog">
  <div class="container">
    <h2>The Team</h2>
    <div class="row my-5">
          {{ $Section := .comments }}
          {{ range $Section }}
            <!-- <div class="testimonial-slider-item">
              <div class="testimonial-slider-person">
                <div class="thumb">
                  <img src={{ .image }} alt="person-thumb" />
                </div>
                <div class="content">
                  <h3> {{ .name }} </h3>
                  <p>{{ .designation }}</p>
                  <a href="{{ .social_li_profile }}"><i class="ti-linkedin"></i></a>
                </div>
              </div>
              <p>{{ .text }}</p>
            </div> -->
            <div class="col-lg-4 col-md-6">
              <article class="blog-post-item" style="height: 500px; min-height: max-content;">
                <div class="blog-post-thumb">
                  <!-- <div class="thumb"> -->
                    <img src={{ .image }} alt="person-thumb" />
                  <!-- </div> -->
                </div>
                <div class="blog-post-content">
                  <h5>{{ .name }}</h5>
                    <h6>
                      {{ .designation }}
                    </h6>
                    <p>
                      {{ .text }}
                    </p>
                  </div>
                </div>
              </article>
          {{ end }}
        </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}