{{ define "main" }}

<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1>{{ .Title }}</h1>
        <p>
          {{ .Params.description }}
        </p>
        <p>
          <!-- {{ .Params.keyHighlights }} -->
          {{ .Content }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="blog" style="margin-top: -5%">
  <div class="container" style="margin: auto;">
    <div class="row">
      {{ range sort (.Paginator 6).Pages.ByWeight }}
        <div class="col-lg-4 col-md-6">
          {{ if (eq .Params.tag "upcoming") }}
          <article class="blog-post-item" style="position: relative;  height: 575px;">
            <a href="{{ .Permalink }}">
              <div style="background-color: grey; color: white; width: max-content; border-radius: 5px; padding: 3px; position: absolute; top: -1.5%; right: -2.5%;">Upcoming Soon!</div>
            </a>
            <div class="blog-post-thumb">
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.featureImage | absURL }}" alt="blog-thumb" style="height: 275px;"/>
              </a>
            </div>
            <div class="blog-post-content">
              <h2>
                <a href="{{ .Permalink }}"
                  >{{ .Title }}</a
                >
              </h2>
              <a href="{{ .Permalink }}" style="text-decoration: none;">
                <h6>
                  Talk by {{ .Params.by }}
                </h6>
              </a>
              <a href="{{ .Permalink }}" style="text-decoration: none;">
                <p>
                  {{ .Params.estimatedDate }}
                </p>
              </a>
              <a href="{{ .Permalink }}" style="text-decoration: none;">
                <p>
                  {{ .Params.estimatedDuration }}
                </p>
              </a>
                <div class="mx-auto" style="text-align: center;">
                    <a href="{{ .Permalink }}" class="btn btn-primary" data-text="Register Now!" style="padding: 5% 10%; width: 100%;">
                      Register Now!
                    </a>
                </div>
              </div>
          </article>
        </div>
          {{ else }}
          <article class="blog-post-item" style="position: relative; height: 575px;">
            <div style="background-color: red; color: white; width: max-content; border-radius: 5px; padding: 3px; position: absolute; top: -1.5%; right: -2.5%;">Live Now!</div>
            <div class="blog-post-thumb">
              <a>
                <img src="{{ .Params.featureImage | absURL }}" alt="blog-thumb" style="height: 275px;"/>
              </a>
            </div>
            <div class="blog-post-content">
              <h2>
                <a href="{{ .Permalink }}"
                  >{{ .Title }}</a
                >
              </h2>
              <a href="{{ .Permalink }}" style="text-decoration: none;">
                <h6>
                  Talk by {{ .Params.by }}
                </h6>
              </a>
              <a href="{{ .Permalink }}" style="text-decoration: none;">
                <p>
                  {{ .Params.estimatedDate }}
                </p>
              </a>
              <a href="{{ .Permalink }}" style="text-decoration: none;">
                <p>
                  {{ .Params.estimatedDuration }}
                </p>
              </a>
                <div class="mx-auto" style="text-align: center;">
                    <a href="{{ .Permalink }}" class="btn btn-primary" data-text="Watch Now!" style="padding: 5% 10%; width: 100%;">
                      Watch Now!
                    </a>
                </div>
              </div>
            </div>
          </article>
          {{ end }}
          {{ end }}
        </div>
      <div class="col-lg-12">
        <div class="blog-pagination">
          <nav>
            {{ template "_internal/pagination.html" . }}
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}