{{ define "main" }}

<section class="page-header blog-single-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>
          {{ .Title }}
        </h2>
        <div class="post-meta">
          <ul>
            <li>
              {{.Description}}
            </li>
            <!-- <li>
              <img src="{{ .Params.authorThumb | absURL }}" alt="author-thumb" />
            </li>
            <li>
              <h5>
                {{ .Params.author }}
              </h5>
            </li>
            <li>
              {{ .PublishDate.Format "January 2, 2006" }}
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <article class="blog-single-post">
          {{ .Content }}

      <div class="container">
        <div class=" my-3 row justify-content-center">
          <iframe width="640px" height="650px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=j-78yv-e_0mLTv7tC2dp4Z81wRwyZ4FBmq_6_uyYoGtUN0xKODNDMlNDMU1JM0dJSzFFOU9LRzhYRi4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
          
        </article>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

{{ end }}