{{ define "main" }}

<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1>{{ .Title }}</h1>
        <p>
          {{ .Params.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="blog-single">
    <div class="my-3 row justify-content-center">
        <iframe width="700px" height="2000px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=j-78yv-e_0mLTv7tC2dp4Z81wRwyZ4FBmq_6_uyYoGtURTRWR000RVI2WjBSNE1CUkdBWEVYNElOTC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
    </div>
  </section>

{{ end }}