{{ define "main" }}

<section class="page-header blog-single-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>
          {{ .Title }}
        </h2>
        <div class="post-meta">
          <ul>
            <li>
              {{.Description}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog-single" style="margin-top: -5%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <article class="blog-single-post">
          {{ .Content }}

      <div class="container">
        <div class="my-3 row justify-content-center">
          <iframe width="750" height="450" src="{{ .Params.youtubeEmbedUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <!-- <a href="{{ .Params.youtubeLink }}"  target="_blank" data-text="Watch Now!" class="btn btn-primary" style="width: 80%;">
            <span>Watch Now!</span>
          </a> -->
        </div>
      </div>
    </article>
      </div>
    </div>
  </div>
</section>

{{ end }}